.type-writer {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #858585;
  padding-right: 4px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(60, end), blink-caret 0.75s step-end infinite, hide-caret 0.5s step-end 3.5s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 450px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #858585;
  }
}

@keyframes hide-caret {
  from,
  to {
    border-color: transparent;
  }
}
